#profile-div {
  /* background-color: red; */
  width: 600px;
  display: flex;
}
#host {
  background-color: rgb(250, 250, 250);
  width: 125px;
  height: 30px;
  border-radius: 25px;
  margin-left: 240px;
  margin-top: 18px;
  /* box-shadow: 0.5px 1px 2px 1px #ccc; */
  padding-left: 30px;
  padding-top: 8px;
}
#host-h4{
    font-weight: 500;
}
#translate{
    margin-top: 29px;
}
#translate-icon{
color: rgb(0, 0, 0);
height: 18px;
width: 18px;
margin-top: 1px;
margin-left: 4px;
}
#profile{
    /* background-color: red; */
    height: 30px;
    width: 75px;
    margin-top: 20px;
    padding-top: 10px;
    margin-left: 25px;
    display: flex;
    border-radius: 25px;
      box-shadow: 0.5px 1px 2px 1px #ccc;

}
#bar{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
#pro-logo{
    height: 30px;
    width: 30px; 
    margin-left: 10px;
    margin-top: -5px;
    color: rgb(0, 0, 0);
}